@use '/src/styles/constants/colors';

.app {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 100px auto;
  border: 1px solid colors.$MAIN;
  border-radius: 40px;

  .logo {
    width: 130px;
    margin-left: 150px;
    margin-top: 20px;
  }
}
