@use '/src/styles/constants/colors';

.container {
  .searchWrapper {
    width: 360px;
    margin: 20px auto;

    .searchInput {
      width: 280px;
      height: 50px;
      padding-left: 7px;
      font-size: 18px;
      letter-spacing: 2px;
      border: 1px solid colors.$SEARCH;
      border-radius: 10px;
    }

    .searchButton {
      float: right;
      width: 70px;
      height: 50px;
      padding-top: 5px;
      font-size: 25px;
      color: colors.$POINT;
      cursor: pointer;
      border: 1px solid colors.$SEARCH;
      border-radius: 10px;
    }
  }

  .resultWrapper {
    width: 450px;
    height: 480px;
    overflow-y: scroll;
    white-space: nowrap;

    .noResult {
      height: inherit;
      margin-top: 30px;
      font-size: 18px;
      text-align: center;
    }

    .movies {
      min-height: inherit;
      cursor: pointer;

      .resultList {
        .movieItem {
          position: relative;
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }

          .movieTitle {
            margin-bottom: 8px;
            font-size: 19px;
            font-weight: 700;
            color: colors.$TITLE;
          }

          p {
            margin-right: 10px;
            font-size: 17px;
            color: colors.$GRAY6;
          }
        }

        .favoriteIcon {
          position: absolute;
          margin-left: 400px;
          font-size: 19px;
          color: colors.$POINT;
          cursor: pointer;
        }
      }
    }

    .targetElement {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 140px;
      text-align: center;
    }
  }

  .noResultWrapper {
    width: 450px;
    height: 480px;
    overflow-y: hidden;
    white-space: nowrap;

    .noResult {
      height: inherit;
      text-align: center;
    }
  }
}
