@use '/src/styles/constants/colors';

.container {
  .searchWrapper {
    width: 360px;
    margin: 40px auto;

    .searchInput {
      width: 280px;
      height: 50px;
      padding-left: 7px;
      font-size: 18px;
      letter-spacing: 2px;
      border: 1px solid colors.$SEARCH;
      border-radius: 10px;
    }

    .searchButton {
      float: right;
      width: 70px;
      height: 50px;
      padding-top: 5px;
      font-size: 25px;
      color: colors.$POINT;
      cursor: pointer;
      border: 1px solid colors.$SEARCH;
      border-radius: 10px;
    }
  }

  .resultWrapper {
    width: 450px;
    height: 480px;
    overflow-y: scroll;
    white-space: nowrap;

    .noResult {
      height: inherit;
      margin-top: 30px;
      font-size: 18px;
      text-align: center;
    }

    .movies {
      min-height: inherit;
      cursor: pointer;

      .movieItem {
        display: flex;
        align-items: center;

        img,
        p {
          margin-right: 10px;
        }
      }
    }

    .targetElement {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 140px;
      text-align: center;
    }
  }
}
