@use '/src/styles/constants/colors';

.container {
  margin: 0 auto;

  .favoriteTitle {
    margin: 35px auto;
    font-size: 20px;
    font-weight: 700;
    color: colors.$GRAY6;
    text-align: center;
  }

  .favoriteWrapper {
    width: 450px;
    height: 480px;
    overflow-y: scroll;
    white-space: nowrap;

    .movieLists {
      min-height: inherit;
      cursor: pointer;
    }

    .movieItem {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }

      .movieTitle {
        margin-bottom: 8px;
        font-size: 19px;
        font-weight: 700;
        color: colors.$POINT;
      }

      p {
        margin-right: 10px;
        font-size: 17px;
        color: colors.$GRAY6;
      }
    }
  }
}
